# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env
# frontend/.env.*

# =========================
# Backend
# =========================
backend/.env
# backend/.env.*
backend/.venv/
backend/venv/
backend/app/datasets/HydroLAKES_polys_v10_shp/
backend/app/ML_models/Prithvi-EO-1.0-100M
backend/.env_with_docker

# Python cache
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/
backend/htmlcov/
backend/.coverage

# =========================
# Supabase
# =========================
supabase/.temp/
supabase/.branches/

# Only ignore the entire supabase folder if you DO NOT want
# to commit migrations, config, and seed files.
supabase/

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Logs
# =========================
*.log